
/******General*******/

.page
{
margin: 0 auto;
width:80vw;
height:auto;
    padding-top:25vh;
    padding-bottom:25vh;
}

.title
{
   width:100%;
    padding-bottom:25vh;
}

.title h1
{
   text-align: center;
}
/********General End***/

/****************Index********************/

.main {
	width:100vw;
    padding:0vh;
}
.main .flex-container
{
    display:flex;
    flex-wrap:wrap;
}
.main .flex-container > div
{
    height:50vh;
    width:50vw;
    text-align: center;
    background:#d9d9d9;
    outline: 1px solid #cccccc;
}

.main .flex-container > div:first-child
{
  border-right:20px solid #b3b3b3;
  border-bottom:20px solid #cccccc;
}

.main .flex-container > div:nth-child(2)
{
   border-left:20px solid #cccccc;
  border-bottom:20px solid #b3b3b3;
}

.main .flex-container > div:nth-child(3)
{
  border-right:20px solid #cccccc;
  border-top:20px solid #b3b3b3;
}

.main .flex-container > div:last-child
{
   border-left:20px solid #b3b3b3;
  border-top:20px solid  #cccccc;
}

.main .flex-container > div > img
{
    width:20vw;
    height:20vh;
    position:relative;
    top:25%;
    
        
}


#logo {
	position:absolute;
    width:20vw;
    height:20vh;
    left: 40vw;
    top:30vh;
}

#logo img
{
   
    z-index:10;
/*    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);*/
}


/*****************Inde ENd******************/

/*****About Page*****/

.clamp
{
  
    height: 40px;
    width: 25px;
    background: #e6e6e6;
    position: relative;
    top:-57px;
    border-radius: 8px;
    margin:0 auto;
}

.img img
{
    width: 100%;
    position:relative;
}

.img {
	    height: 400px;
    overflow: hidden;
    border-radius: 25px;
}

.clamp2 {
	left:-25px;
    
}

.hBox
{
    border: 25px solid rgba(166, 166, 166,0.15);
    height: auto;
    width: auto;
    margin:0 auto;
    padding:25px;
}

/**Sorrounding Pump Hose**/
.hBox p
{
    margin-top:0px;
    margin-bottom:0px;
}

.hBox:nth-child(odd)
{
    border-top: 0px;
    border-right: 0px;
    padding-right:25px;
    border-bottom: 0px;
      
}

.hBox:nth-child(even)
{
    border-left: 0px;
    padding-left:25px;
}


.cHandle
{
    height:35px;
    width:15px;
    background:gray;
    margin: 0 auto;
    position: relative;
    top:-10px;
    border-radius: 5px;
}

/**Pump hose End**/


.more {
    max-height: 50vh;
	overflow-y:hidden;
}


.row:last-child p
{
    padding-top:25px;
}
/*****************About End*********************/

/**********************Work**********************/




/**************************Work End******************/

/***************Media Queries/ Responsve Design************/

@media only screen and (max-width: 600px) 
{
    .page 
        {
            width:100vw;
        }
}
    
